.adv_list { width:auto; display:block; padding:20px; background:#eee; height:320px}
.adv_list .header { text-align:center; }
.adv_list ul {
  list-style:none;
  padding:0 20px;
  width:auto;
  display:block;
  border-bottom:1px solid white;
  height:30px;
}
.adv_list ul li {
  text-align:left;
  line-height:30px;
  float:left;
  height:30px;
  border-right:1px solid white;
  padding:0 4px;
}

.buttons { 
	display: block;
    float: left;
    height: 30px;
    margin: 10px 5%;
    width: 25%;
}
.buttons a{
	background: none repeat scroll 0 0 #eee;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    width: 100px;
	color:#000;
}
.buttons a:hover{
	color:#f00;
	font-weight:bold;
	font-size:14px;
}

.adv_list .list_header { text-align:center; }
.adv_list ul { margin:0; }

a { text-decoration: none; color:#000; }
a:hover{ color:#f00; font-size:18px; }
